<ion-content>

<div #map id="map"></div>

<button class="alert-button" (click)="alerta()">
  <img src="assets/alerta-Icon.png" alt="Alerta" />
</button>

<button class="list-button" (click)="lista()">
  <img src="assets/list.png" alt="Lista" />
</button>

<button class="settings-button">
  <img src="assets/gear-Icon.png" alt="Configurações" />
</button>

<button class="navigation-button" (click)="centerMapOnUserLocation()">
  <img src="assets/navigation_Icon.png" alt="Centralizar no Usuário" />
</button>

</ion-content>
